//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9 (64-bit)
//Part Number: GW5A-LV25UG324ES
//Device: GW5A-25
//Device Version: A
//Created Time: Mon 10 13 10:51:22 2025

IO_LOC "adc_rd_n" G18;
IO_PORT "adc_rd_n" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "adc_cs_n" F17;
IO_PORT "adc_cs_n" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "adc_range" G14;
IO_PORT "adc_range" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "adc_os[2]" F14;
IO_PORT "adc_os[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "adc_os[1]" C18;
IO_PORT "adc_os[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "adc_os[0]" C17;
IO_PORT "adc_os[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "adc_convst_a" D17;
IO_PORT "adc_convst_a" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "adc_reset" G16;
IO_PORT "adc_reset" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DSMC_DQ[7]" L16;
IO_PORT "DSMC_DQ[7]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "DSMC_DQ[6]" L15;
IO_PORT "DSMC_DQ[6]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "DSMC_DQ[5]" E18;
IO_PORT "DSMC_DQ[5]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "DSMC_DQ[4]" F16;
IO_PORT "DSMC_DQ[4]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "DSMC_DQ[3]" F15;
IO_PORT "DSMC_DQ[3]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "DSMC_DQ[2]" G13;
IO_PORT "DSMC_DQ[2]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "DSMC_DQ[1]" H12;
IO_PORT "DSMC_DQ[1]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "DSMC_DQ[0]" M14;
IO_PORT "DSMC_DQ[0]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "DSMC_DQS" T18;
IO_PORT "DSMC_DQS" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rest_n" B16;
IO_PORT "rest_n" IO_TYPE=SSTL15_I PULL_MODE=NONE BANK_VCCIO=1.5;
IO_LOC "adc_data[15]" N18;
IO_PORT "adc_data[15]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adc_data[14]" N17;
IO_PORT "adc_data[14]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adc_data[13]" L18;
IO_PORT "adc_data[13]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adc_data[12]" L17;
IO_PORT "adc_data[12]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adc_data[11]" K18;
IO_PORT "adc_data[11]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adc_data[10]" K17;
IO_PORT "adc_data[10]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adc_data[9]" H18;
IO_PORT "adc_data[9]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adc_data[8]" H17;
IO_PORT "adc_data[8]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adc_data[7]" L13;
IO_PORT "adc_data[7]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adc_data[6]" L12;
IO_PORT "adc_data[6]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adc_data[5]" K13;
IO_PORT "adc_data[5]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adc_data[4]" K12;
IO_PORT "adc_data[4]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adc_data[3]" K14;
IO_PORT "adc_data[3]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adc_data[2]" J13;
IO_PORT "adc_data[2]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adc_data[1]" K16;
IO_PORT "adc_data[1]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adc_data[0]" K15;
IO_PORT "adc_data[0]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adc_busy" F18;
IO_PORT "adc_busy" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "DSMC_CS" L14;
IO_PORT "DSMC_CS" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "DSMC_CLKP" U18;
IO_PORT "DSMC_CLKP" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "sys_clk" T9;
IO_PORT "sys_clk" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "DSMC_RESENT" J16;
IO_PORT "DSMC_RESENT" PULL_MODE=NONE BANK_VCCIO=3.3;
